{{#partial "custom-body"}}
	
	<form action="/misguardarropas" method="GET">	
		<button type="submit" class="btn btn-danger float-right">
			 <span class="glyphicon glyphicon-minus"></span> Cancelar
		</button>
	</form>
	
	<div class="progress">
		<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="3" aria-valuemin="1" aria-valuemax="4" style="width: 75%;">
			Step 2 of 4
		</div>
	</div>
	<div class="navbar">
		<div class="navbar-inner">
			<ul class="nav nav-pills nav-wizard">
				<li class="disabled">
					<a class="hidden-xs" href="#step1" data-toggle="tab" data-step="1">1. Tipo Prenda</a>
					<a class="visible-xs" href="#step1" data-toggle="tab" data-step="1">1.</a>
					<div class="nav-arrow"></div>
				</li>
				<li class="disabled">
					<div class="nav-wedge"></div>
					<a class="hidden-xs" href="#step2" data-toggle="tab" data-step="2">2. Tipo Tela</a>
					<a class="visible-xs" href="#step2" data-toggle="tab" data-step="2">2.</a>
					<div class="nav-arrow"></div>
				</li>
				<li class="active">
					<div class="nav-wedge"></div>
					<a class="hidden-xs" href="#step3" data-toggle="tab" data-step="3">3. Colores</a>
					<a class="visible-xs" href="#step3" data-toggle="tab" data-step="3">3.</a>
					<div class="nav-arrow"></div>
				</li>
				<li class="disabled">
					<div class="nav-wedge"></div>
					<a class="hidden-xs" href="#step4" data-toggle="tab" data-step="4">4. Calorias</a>
					<a class="visible-xs" href="#step4" data-toggle="tab" data-step="4">4.</a>
					<div class="nav-arrow"></div>
				</li>
			</ul>
		</div>
	</div>
	
	 <form action=/guardarropa/agregarPrendaPaso4 method="POST">
		<div class="form-row align-items-center col-md-6">
			<div class="col-auto my-1">
			  <h6 class="mr-sm-2" for="restriccion">Color Primario</h6> 
			  <select class="selectpicker" data-live-search="true" name="colorPrimario" id="colorPrimario" required="">
				<option selected value="">Elegi Color Primario </option>
				 {{#each colores}}
					<option value={{this}}>{{this}}</option>	
				 {{/each}}
			  </select>
			</div>
		</div>
		
		<div class="form-row align-items-center col-md-6">
			<div class="col-auto my-1">
			  <h6 class="mr-sm-2" for="restriccion">Color Secundario</h6> 
			  <select class="selectpicker" data-live-search="true" name="colorSecundario" id="colorSecundario">
				<option selected value="">Elegi Color Secundario</option>
				 {{#each colores}}
					<option value={{this}}>{{this}}</option>	
				 {{/each}}
			  </select>
			</div>
		</div>
			
		<div class="col-xs-12">
	         <button class="btn btn-primary btn-lg btn-block next" type="submit">Continue&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></button>
	    </div>
	</form>
    
    {{/partial}}
{{>layout.hbs}}