{{#partial "custom-body"}}
    <h1>
       Listado de Eventos
    </h1>

<form action="/altaEvento" method="POST">	
	<input type="submit" class="btn btn-primary">
	  <span class="glyphicon glyphicon-plus"></span> Nuevo
</form>

<div class="card-deck">
    {{#each eventos}}

	<div class="card h-70 bg-light text-dark">
	<a href="#"><img class="card-img-top" src="/evento.png" height="150" width="80" alt="evento"></a>
	<div class="card-body">
		<h4 class="card-title">
			<a href="#">#{{descripcionEvento}}</a>
		</h4>
		<form action="/evento/{{id}}/modificarEvento" method="POST">
			<input type="submit" class="btn btn-success btn-block" value="Modificar">
		</form>
		<form action="/eliminarEvento/{{id}}" method="POST">
			<input type="submit" class="btn btn-warning btn-block" value="Eliminar">
		</form>
	</div>
	<div class="card-footer">
		<form action="/evento/{{id}}/verAtuendosSugeridos" method="GET">
			<input type="submit" class="btn btn-warning btn-block" value="Ver atuendos Sugeridos">
		</form>
	</div>
</div>
	            
    {{/each}}
    
    </div>

{{/partial}}
{{>layout.hbs}}